.addlist{
    padding: 35px;
    margin: 30%;
    margin-top: 12%;
    margin-right: 36%;
    margin-left: 30%;
    border: 2px solid red;
    text-align:center;
    border-radius: 20px;
    box-shadow: 10px 5px 15px black;
    position: absolute;
    top:100px;
    left: 100px;
}
.area{
    border: 2px solid red;
    padding-left: 50px;
    padding-right: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 15px black;
}
.add{
    background-color: red;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 20px;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
}
.child1{
    z-index: +1;
}
.parent1{
    filter: blur(10px);
    z-index: -1;
}
.box{
    padding-left: 70px;
    justify-content: center;
    text-align: center;
    border: 2px solid red ;
    box-sizing: border-box ;width: 450px;
    border-radius: 10px;
    height: 550px;
    margin-left: 525px;
    margin-top: 120px;
}

}
img{
    display: inline-block;
}



.parent{
    display: flex;
    margin: 10%;
    justify-content: space-around;
    margin-left:20%;
    margin-top: 0%;
}
.heading{
    background-color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;


}
.item{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px darkgrey;
    box-sizing: border-box;
    width: 200px;
    
}
}
img{
    display: inline-block;
}

p{
    display: inline-block;
}
.hr1{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;

}
.hr2{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
}
.hr3{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
}
.hr4{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
}
.hr5{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
}
@media(max-width:480px){
    body{
        border: black;
    }
    
.grid-container{
    display: block;
    grid-gap: 10px;
    row-gap: 10px;
    align-items: center;
    padding-bottom: 10px;

}
.item{
    display: block;
    margin-block: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 100px;
    row-gap: 10px;
    box-shadow: 10px solid black;
}
.hide{
    display: none;
}
.hr1,.hr2,.hr3,.hr4,.hr5{
    display: none;
}

}

@media(min-width:1250px){

}
