.trip{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 0px;

}
.trip1{
    display: inline;
    align-items: center;
    justify-content: center;
}


.parent{
    display: flex;
    margin: 10%;
    justify-content: space-around;
    margin-left:10%;
    margin-top: 0%;
}
.child{
    padding-bottom: 60px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-right:25px;
    padding-left: 25px;
    border:1px solid red;
    margin-left: 20px;
    margin-top: -210px;
    box-shadow: 5px 10px 15px #888888;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 400px;
}
.hr{
    position: absolute;
    top: 90px;
    left: 70px;
    width: 200px;
    border: 1px solid black;
    
}
.child{
    z-index: +1;
}
.parent1{
    filter: blur(10px);
    z-index: -1;
}
.box{
    padding-left: 70px;
    justify-content: center;
    text-align: center;
    border: 2px solid red ;
    box-sizing: border-box ;width: 450px;
    border-radius: 10px;
    height: 550px;
    margin-left: 525px;
    margin-top: 25px;
}



.parent{
    display: flex;
    margin: 10%;
    justify-content: space-around;
    margin-left:20%;
    margin-top: 0%;
}
.heading{
    background-color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;


}
.item{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px darkgrey;
    box-sizing: border-box;
    width: 200px;
    
}
}
img{
    display: inline-block;
}

p{
    display: inline-block;
}
.hr1{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;

}
.hr2{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
}
.hr3{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
}
.hr4{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
}
.hr5{
    position: relative;
    top: 10px;
    left: 10px;
    width: 140px;
}
@media(max-width:480px){
    body{
        border: black;
    }
    
.grid-container{
    display: block;
    grid-gap: 10px;
    row-gap: 10px;
    align-items: center;
    padding-bottom: 10px;

}
.item{
    display: block;
    margin-block: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 100px;
    row-gap: 10px;
    box-shadow: 10px solid black;
}
.hide{
    display: none;
}
.hr1,.hr2,.hr3,.hr4,.hr5{
    display: none;
}

}

@media(min-width:1250px){

}
